* {
  box-sizing: border-box;
}

.nav-item:hover {
  transform: scale(1.1);
  transition: .5s ease-in-out;
}

span {
  /* font-weight: bold; */
  font-size: 5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: lighter;
}

.Education-section {
  background-color: white;
  line-height: 1.6rem;
  letter-spacing: 1.5px; /* Added unit */
}

.image {
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

.btn {
  background-color: transparent;
  color: white;
  padding: 8px 15px;
}

.About-text {
  font-size: 1.5rem;
}

#Skills {
  background-color: #000000;
}

.Intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(laptop.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  line-height: 3rem;
  font-weight: 600;
  font-size: 3.4rem;
}

a {
  text-decoration: none;
}

.image {
  display: flex;
  float: left;
}

.footer {
  background-color: black;
  color: white;
  left: 0;
  bottom: 0;
  padding: 20px 0; /* Added padding */
}

.card-dark:hover,
.card:hover {
  transform: scale(1.05);
}

.card-dark,
.card {
  transition: transform 0.3s ease;
}

form {
  margin-bottom: 0px;
  line-height: 1;
}
